.navbar-brand {
  font-size: 30px;
}

h1 {
  font-size: 3rem;
}

.modal.show {
  display: block;
}

html,
body,
app {
  height: 100vh;
  min-height: 100%;
}

app {
  display: grid;
  grid-template-rows: auto 1fr;
}